<div class="max-w-md my-10 m-auto p-12 lg:p-16 bg-white rounded border border-gray-300 text-center shadow">
  <%= image_tag "schedule.svg", alt: "schedule", width: 300, class: "mb-4" %>
  <h1 class="text-indigo-800 text-2xl mb-6">It looks like you haven't open a ticket yet</h1>
  <%= link_to "Open a new ticket", new_ticket_path, class: "btn btn-primary py-3 px-5" %>
</div>