<nav class="bg-gray-200 mb-4 shadow rounded">
  <ul list-reset>
    <li class="tab rounded flex items-center">
      My Tickets
    </li>
  </ul>
</nav>

<div class="bg-white p-10 border rounded">

     <h1>Tickets</h1>

     <% tickets.each do |ticket| %>
        <div class="flex flex-wrap items-center justify-start p-4 border-b border-gray-300 mb-6">
          <div class="flex-1 flex justify-between">
            <div>
              <%= link_to ticket.title, ticket, class: "link mr-4" %>
            </div>
            <div>
              <%= readable_time(ticket.created_at) %>
            </div>
          </div>
        </div>

        <%= link_to "Close ticket", meeting, method: :delete, data: { confirm: "Are you sure? There are no refunds." }, class: "btn btn-destroy ml-4" if admin? %>
     <% end %>
  </div>

</div>