<div class="max-w-3xl my-10 m-auto">
  <div class="p-10 bg-white border border-gray-400 rounded">
    <p>Message: <%= @ticket.message %></p>
    <p>Category: <%= @ticket.category %></p>
    <p>Status: <%= @ticket.status %></p>
    <p>Created on: <%= readable_time(@ticket.created_at) %></p>
  </div>
</div>
